.card{
    background-color: white;
}
.contact{
    min-height: 200px;
    background-color: white;
    width: 400px;
    
}


.inputtext{
    font-size: 17px;
    padding-top: 30px;

    
}
body
{
    background-image: url('hacker.jpg');
}

label
{
    color:black;
    margin-top: 8px;
}

input[type=text] ,input[type=number] , input[type = email]{
    width: 99%;
    font-size: 17px;
    font-weight: 500;
       padding-left:6px;
}



.subtn{
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
  width: 99%;
}
.x
{
    margin: 1em auto;
}
